.item{
    background-color: rgb(163, 175, 175);
    width: 40rem;
    height: 100px;
    margin: auto;
    position: relative;
    bottom: 14em;
    color: black;
    padding-left: 50px;
    border-radius: 10px;
}
h2{
    background-color: rgb(163, 175, 175);
    
    width: 400px;
   
}
.itemDescription{
    background-color: rgb(163, 175, 175);
    
    position: relative;
    bottom: 20px;
    font-size: 20px;
}
.amountItem{
    position: relative;
    bottom: 40px;
    height: 10pxpx;
    
    width: 400px;

}