.cart {
  width: 30px;
  height: 30px;
  position: relative;
  right: 30px;
  top: 2px
}

button {
  width: 200px;
  margin-right: 0;
  font: 1.3em sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  background-color: none;
  position: relative;
  bottom: 3.5rem;
  left: 800px;
}
.yourCart{
    font-size: 20px;
    position: relative;
    right: 5px;
    bottom: 5px;
    background-color: none;
}
.quantity{
    position: relative;
    left: 18px;
    bottom: 2px
}
