*{
    background-color: #322b2b;
    color: aliceblue;
}
header{
    
   
    height: 5rem;
}


h1{
  font-size: 30px;
  padding-left: 2rem;
  padding-top: 1rem;

}
.headerImg{
    width: 100%;
    height: 20%;
        
    
}